<div class="container">
    <div class="row" id="titulo">
        <h2 id="texto">Crear usuario</h2>
    </div>
    <div action="" class="row" id="form">
        <div class="col-6">
            <label for="exampleInputEmail1" class="form-label" id="label" >Nombre de usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de usuario" id="boton">
        </div>
        <div class="col-6" id="correo">
            <label for="exampleInputEmail1" class="form-label" id="label" >Correro</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo" id="boton">
        </div>
    </div>
        <div class="row">
            <div class="col-12">
            <label for="exampleInputEmail1" class="form-label" id="label">Perfil</label>
            <select class="form-select" aria-label="Default select example" id="boton">
                <option value="1">Planeacion</option>
                <option value="2">Riesgo</option>
                <option value="3">Filiales</option>
            </select>
            </div>
        </div>
    <div class="row" id="crear">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</div>
